<div>
  <button class="btn btn-primary">Add User <i class="fas fa-user-plus"></i></button>
</div>
<hr>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Bradd Pitt</td>
      <td>bpitt@mail.com</td>
      <td>
        <div class="btn-group" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-primary"><i class="fas fa-edit"></i></button>
          <button type="button" class="btn btn-danger"><i class="fas fa-user-minus"></i></button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<hr>